body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =================================================== */

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;

}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    background: #fff;
    color: #0000ff;
    padding: 14px 30px;
    font-weight: 500;
}

/* ============================================ */

.hero {
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    margin: 0 0 60px 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-text span {
    color: #01a2cb;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button1,
.hero-button2 {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.hero-button1 {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin: 0 0 10px 0;
}

.hero-button2 {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button2 img {
    margin-left: 4px;
}

/* ================================================= */

.cards {
    padding: 120px 0;
}

.cards-title {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
}

.cards-text {
    margin: 0 auto 60px;
    text-align: center;
    max-width: 513px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards-flex-inner {
    background: #197cb8;
    border: 2px solid #176bae;
    box-shadow: 4px 4px 13px 0 #050d29c2;
    border-radius: 16px;
    padding: 28px 15px;
}

.cards-flex-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.cards-button {
    border-radius: 100px;
    padding: 18px 30px;
    display: block;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    max-width: 436px;
    margin: 0 auto;
}

/* ================================================= */

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-column {
    max-width: 200px;
    width: 100%;
}

.footer-column1 {
    margin-right: 28px;
}

.footer-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}